/*
    File: mystylehw3.css
    Name: Yasmin Mousa  
    Date Created: 2024-09-04
    Date Updated: 2024-10-19
    Version: 2.0
    Purpose: MIS 3371 Homework 2 CSS File
*/
header {
  width: 100%;
 background-color: rgba(242, 8, 141, 0.501);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 5, 142, 0.273);
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

form {
    flex-grow: 1;
}

h1 {
  text-align: center;
  color: rgba(11, 4, 0, 0.951);
  margin-left: 20px;
  font-family: garamond;
  font-weight: bold;
  flex-grow: 1;
}

h2 {
  text-align: center;
  color: rgba(11, 4, 0, 0.951);
  margin-left: 5px;
  font-family: merriweather;
  font-weight: bold;
  flex-grow: 1;
}
 
 h4 {
  text-align: center;
  color: rgba(11, 4, 0, 0.951);
  margin-left: 5px;
  font-family: merriweather;
  font-weight: bold;
  flex-grow: 1;
}

main {
  text-align: center;
  color: rgba(11, 4, 0, 0.951);
  margin-left: 5px;
  font-family: merriweather;
  font-weight: normal;
  flex-grow: 1;
}

.image {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.td1 {
  text-align: right;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather;
  font-weight: normal;
  padding-right: 10px;

}

td {
  padding: 5px;
        
}
th {
  text-align: center;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather;
  font-weight: bold;

}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(242, 8, 141, 0.501);
  height: 2.5 rem;
}

#footer {
  text-align: left;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather; 
  font-weight: normal;
  margin-left: 10px;
}

label {
  text-align: right;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather; 
  font-weight: normal;
}

input {
  text-align: left;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather; 
  font-weight: normal;
  box-sizing: border-box;
}

textarea {
  text-align: left;
  color: rgba(11, 4, 0, 0.951);
  font-family: merriweather; 
  font-weight: normal;
}

#today {
   text-align: left;
  color: rgba(11, 4, 0);
  font-family: merriweather; 
  font-weight: normal;
}

.error {
    color: rgba(255, 0, 0);
    font-size: 12px;
    font-family: merriweather;
     font-weight: normal;
}

.pwd-message {
    text-align: right;
    font-family: merriweather;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transpaernt;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: rgba(255, 0, 0);
}

#review {
    margin-top: 5px;
}
table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgba(246, 55, 242, 0.792);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: rgba(0, 0, 0);
}

td.output {
    width: 500px;
    background-color: rgba(246, 55, 242, 0.792);
    padding: 10px;
    border-spacing: 2px;
    border-color; rgb(188, 34, 185);
}

/*alert box styling*/
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(186, 34, 176, 0.636);
}

#alert-content {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
    margin-top: 20%;
    font-size: 20px;
    text-align: center;
    font-family: merriweather;
     font-weight: normal;
}

#close-alert {
    background-color: rgb(250, 250, 250);
    border-width: 1px;
    border-style: solid;
    color: rgb(188, 34, 185);
    border-color; rgb(188, 34, 185);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: printer;

    margin-top: 20px;
    text-align: center;
    font-family: merriweather;
}
    

    

    
